@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #184059, #63CAF2, #79F2E6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(46, 93, 112, 0.644);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #63CAF2;
    text-align: center;
    text-shadow: 1px 1px 2px #356d83bb;
}

h2 {
    color: #184059;
}

p {
    text-align: justify;
}