@charset "UTF-8";

/*
    em HTML é id = em CSS é # (so pode um elemento por pagina)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color: rgb(172, 223, 121);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(102, 190, 14);
}

h1#principal {
    text-align: center;
    background-color: rgb(102, 190, 14);
    color: white;
}

h2 {
    color: rgb(96, 134, 58);
}

.basico {
    color: rgb(190, 187, 7);
    font-weight: bold;

}

.intermediario {
    color: rgb(12, 65, 212);
}

.avacado {
    color: rgb(226, 23, 23);
}

.destaque {
    background-color: black;
}